body{font-size: 20px;}

.track{width: 100%; clear :both; border: none 1px #555; margin: 10px auto; min-height: 70px; font-family: helvetica; }

.topseq{float:left; width: 10%;   border: solid 1px #555; margin: 10px auto; min-height: 20px; background: #eee; margin: 10px auto; margin-right: 3px; color: #555;}
.topseq .first{margin-left: 5px;}

.seq{ text-align: center; padding-top: 0px; padding-bottom: 0px; float:left; width: 10%;   border: solid 1px #aaa; margin: 10px auto;  background: #5f5; font-size: 18px;  margin-right: 3px; }

audio{width: 0px; height: 0px;}

.seq .last{clear:both; }

.player{width: 100%; clear:both;}

#counter{font-size: 30px; text-align: center; width: 100%; }

input[type="checkbox"]{ display:none;  width: 100%;   }

label{
  cursor: pointer;
   background: #fff;
   padding: 10%; width:80%;  display: block; height: auto; 
   color: #aaa;
}

input[type="checkbox"]:checked{background: #5f5;  display: block; opacity: 0.1 }

input[type="checkbox"]:checked + label{
	background: #f55;
	
}

input[type="checkbox"] + label:before {
  border: 1px solid #000;
  content: "\00a0";
  display: inline-block;
  font: 46px/1em sans-serif;
  height: 46px;
  width: 46px;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  width: 16px;
}
input[type="checkbox"]:checked + label:before {
  background: #ddd;
  color: #666;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
background: #000;
}

.track  img{padding-top:20px; padding-left: 10px; }
.institle{ margin-top:-10px; height: 50px; float: left;width:7%; font-size: 0px;  width: 50px; height: 0px; float: none; }
.indicator{width: 10%; font-weight: 100; height: 70px; display: none; background: #5f5; margin-top: -80px; position: fixed;}